<section class="mesCompetences" id="mesCompetences">
    <div class="container">
        <div class="row">
            <div class="col-6 d-none d-md-block">
                <img class="slide-in-right" src="{{ asset('/build/images/ilustrations/work.svg') }}">
            </div>
            <div class="col-12 col-md-6 vertical-center-parent">
                <div style="display: block">
                    <div>
                        <h2>Mes compétences</h2>
                        <p>Depuis maintenant plusieurs années, je travaille en trant que développeur Web Freelance pour de nombreuses entreprises. Au fil des missions, j'ai put appréender de très nombreuses missions sur des sujets tous les plus variés les uns que les autres.</p>
                    </div>
                    <div>
                        <div class="carousel" data-flickity='{ "autoPlay": 1500, "pageDots": false, "prevNextButtons": false, "wrapAround": true }'>
                            <div class="carousel-cell">
                                <img src="{{ asset('/build/images/logos-slider/symfony-logo.svg') }}" alt="symfony">
                            </div>
                            <div class="carousel-cell">
                                <img src="{{ asset('/build/images/logos-slider/vue-js.svg') }}" alt="vuejs">
                            </div>
                            <div class="carousel-cell">
                                <img src="{{ asset('/build/images/logos-slider/wordpress.svg') }}" alt="wordpress">
                            </div>
                            <div class="carousel-cell">
                                <img src="{{ asset('/build/images/logos-slider/php.svg') }}" alt="php">
                            </div>
                            <div class="carousel-cell">
                                <img src="{{ asset('/build/images/logos-slider/html5.svg') }}" alt="html5">
                            </div>
                            <div class="carousel-cell">
                                <img src="{{ asset('/build/images/logos-slider/css3.svg') }}" alt="css3">
                            </div>
                            <div class="carousel-cell">
                                <img src="{{ asset('/build/images/logos-slider/c.svg') }}" alt="c language">
                            </div>
                            <div class="carousel-cell">
                                <img src="{{ asset('/build/images/logos-slider/c++.svg') }}" alt="c++ language">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
