<div class="monCursus" id="monCursus">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="center">Mon cursus</h2>
            </div>
        </div>
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img griffith">
                <img src="{{ asset('/build/images/mon-cursus/griffith.jpg') }}" alt="Griffith">
            </div>

            <div class="cd-timeline-content griffith-content">
                <h2>Griffith College - Dublin</h2>
                <p>Pour ma 4ème année d'école, j'ai décidé de partir à Dublin afin de devenir complétement Bilingue en Anglais. En revanche durant cette année, je ne compte pas abandonner mon travail en tant que Freelance, si ce n'est l'intensifier !</p>
                {# <a href="#0" class="cd-read-more">Read more</a> #}
                <span class="cd-date">Septembre 2019</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-wiibus">
                <img src="{{ asset('/build/images/mon-cursus/wiibus.svg') }}" alt="Wiibus">
            </div>

            <div class="cd-timeline-content wiibus-content">
                <h2>Wiibus : Développeur + Gestion de projets (1 an)</h2>
                <p>Durant toute la troisième d'école j'ai travaillé chez Wiibus, une entreprise qui installe le WiFi dans les transports en communs. Dans un premier temps à temps partiel (6 mois) puis à temps plein (6 mois). J'ai travaillé en tant que développeur et chefs de projets sur de nombreux projets très différents les uns des autres.</p>
                {# <a href="#0" class="cd-read-more">Read more</a> #}
                <span class="cd-date">Septembre 2018 - Août 2019</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-meilleureVisite">
                <img src="{{ asset('/build/images/mon-cursus/meilleure-visite.jpg') }}" alt="Meilleure Visite">
            </div>

            <div class="cd-timeline-content meilleure-visite-content">
                <h2>Meilleure Visite (Stage de seconde année 6 mois)</h2>
                <p>Afin de valider la seconde année d'école, j'ai décidé d'effectuer un stage chez Meilleure Visite. Meilleure Visite est une jeune start-up Lyonnaise qui propose tout un éco système autour de la visite virtuelle. Après la refonte de leur site, j'ai put travaillé avec une équipe de développeurs afin de créer une application web de gestion de visites virtuelles en Symfony 3.</p>
                {# <a href="#0" class="cd-read-more">Read more</a> #}
                <span class="cd-date">Juillet 2017 - Décembre 2017</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-freelance">
                <img src="{{ asset('/build/images/mon-cursus/freelance.svg') }}" alt="Freelance">
            </div>

            <div class="cd-timeline-content freelance-content">
                <h2>Création de mon entreprise</h2>
                <p>L'entreprenariat a toujours était l'un de mes objectifs et il s'est trouvé qu'à ce moment là, sachant que je travaillais dans l'informatique, mon ancien Collège m'a contacté afin que je travaille pour eux. J'ai donc créé mes statuts et l'aventure dans ce nouveau monde à commencé !</p>
                {# <a href="#0" class="cd-read-more">Read more</a> #}
                <span class="cd-date">Feb 14</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-epitech">
                <img src="{{ asset('/build/images/mon-cursus/epitech.svg') }}" alt="Epitech">
            </div>

            <div class="cd-timeline-content epitech-content">
                <h2>Epitech (Promo 2021)</h2>
                <p>Après l'obtention de mon bac et ayant toujours était passioné par le domaine de l'informatique, je me suis dirigé vers Epitech. École en 5 ans délivrant, après un master 2, un diplome d'expert dans les technologies informatiques.</p>
                {# <a href="#0" class="cd-read-more">Read more</a> #}
                <span class="cd-date">Feb 18</span>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img student">
                <img src="{{ asset('/build/images/mon-cursus/student.svg') }}" alt="Student">
            </div>

            <div class="cd-timeline-content student-content">
                <h2>Bac Scientifique</h2>
                <p>Obtention du bac Scientifique option informatique et science de l'ingénieur à Vienne (Saint Charles).</p>
                {# <a href="#0" class="cd-read-more">Read more</a> #}
                <span class="cd-date">Feb 18</span>
            </div>
        </div>

    </section>

</div>
